


<link rel="stylesheet" href="/stylesheets/partials.css"/>

<nav class="links">
    
    <a href="/home">Home</a>
    <% if(user) { %>
      <a href="/users/<%=user._id%>/animes">View my List</a>
      <a href="/auth/sign-out">Sign Out</a>
      <a href="/">Explore Our Community</a><!--new one-->
    <% } else { %>

    
      <a href="/auth/sign-in">Sign In</a>
      <a href="/auth/sign-up">Sign Up</a>
      <a href="/">Explore Our Community</a><!--new one-->
    
    <% } %>

  </nav>
 