<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/animenews.css" />
  <title>Users</title>
</head>
<body>

    <div class="banner">
        <div class="slider" style="--quantity: 10">
          <div class="item" style="--position: 1"><img src="https://ih1.redbubble.net/image.5045805090.4967/flat,750x,075,f-pad,750x1000,f8f8f8.jpg" alt=""></div>
          <div class="item" style="--position: 2"><img src="https://images-ng.pixai.art/images/orig/befa7d4b-541f-4e46-a7e3-11840a71c448" alt=""></div>
          <div class="item" style="--position: 3"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpsfXYxlNSK-Mk_HJutIO5J0Ll7IWIW_RHVA&s" alt=""></div>
          <div class="item" style="--position: 4"><img src="https://image.cdn2.seaart.ai/2023-08-10/871745489960965/4543ff870e690e882c4a56914ed6da692a681ea8_high.webp" alt=""></div>
          <div class="item" style="--position: 5"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/25530c1b-5c89-4c85-8b65-8602af58c383/dg88bao-83ac07e7-c0f3-429a-8c5c-dce1c558f7d7.jpg/v1/fill/w_1280,h_1722,q_75,strp/anime_cyberpunk_boy__4__by_punkerlazar_dg88bao-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI1NTMwYzFiLTVjODktNGM4NS04YjY1LTg2MDJhZjU4YzM4M1wvZGc4OGJhby04M2FjMDdlNy1jMGYzLTQyOWEtOGM1Yy1kY2UxYzU1OGY3ZDcuanBnIiwiaGVpZ2h0IjoiPD0xNzIyIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uud2F0ZXJtYXJrIl0sIndtayI6eyJwYXRoIjoiXC93bVwvMjU1MzBjMWItNWM4OS00Yzg1LThiNjUtODYwMmFmNThjMzgzXC9wdW5rZXJsYXphci00LnBuZyIsIm9wYWNpdHkiOjk1LCJwcm9wb3J0aW9ucyI6MC40NSwiZ3Jhdml0eSI6ImNlbnRlciJ9fQ.3yij5e3gOqLutXPFZ-TZey1xokYMaVwi85ZaQtagFbc" alt=""></div>
          <div class="item" style="--position: 6"><img src="https://cdnb.artstation.com/p/assets/images/images/061/169/569/large/danieru-avatar-danierumanga.jpg?1680163602" alt=""></div>
          <div class="item" style="--position: 7"><img src="https://wallpapercrafter.com/desktop/389307-Sci-Fi-Cyberpunk-Phone-Wallpaper.jpg" alt=""></div>
          <div class="item" style="--position: 8"><img src="https://image.cdn2.seaart.ai/2023-12-17/clvac9h4msbc7388dtug/714306324ea21cce3823f79a5817d88c669e46fa_high.webp" alt=""></div>
          <div class="item" style="--position: 9"><img src="https://c4.wallpaperflare.com/wallpaper/410/735/716/cyberpunk-edgerunners-lucy-edgerunners-anime-anime-girls-hd-wallpaper-preview.jpg" alt=""></div>
          <div class="item" style="--position: 10"><img src="https://wallpapers.com/images/hd/ryomen-sukuna-cyberpunk-kanji-jujutsu-kaisen-phone-cfrk7kkuw60mxn2j.jpg" alt=""></div>
        </div>
        <div class="content">
          <h1>
            
          </h1>
          <div class="author">
            <h2>
              We appologize for the quality! We will work on that soon!
            </h2>
            </div>
            <%- include('../partials/_navbar.ejs') %>
        </div>
      </div>

</body>
</html>