<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/playlist.css" />
  <title>YouTube links in to your favorite anime playlist</title>
</head>
<body>  
  
  
  <div class="banner">
    <div class="slider" style="--quantity: 10">
      <iframe class="item" style="--position: 1" src="https://www.youtube.com/embed/km-jpcx0xRM?si=_12x8O36yOW96OrY" alt=""></iframe>
      <iframe class="item" style="--position: 2" src="https://www.youtube.com/embed/44pt8w67S8I?si=Q4ErWLHKizpmlWpc" alt=""></iframe>
      <iframe class="item" style="--position: 3" src="https://www.youtube.com/embed/PTCyaiXK5PE?si=4S8YqGj5jMjMa3d5" alt=""></iframe>
      <iframe class="item" style="--position: 4" src="https://www.youtube.com/embed/4CUAgVQxRi8?si=mN18GTiAWdBt6v1q" alt=""></iframe>
      <iframe class="item" style="--position: 5" src="https://www.youtube.com/embed/d5rCB8xXTaw?si=8OF9dgHS392uHxM5" alt=""></iframe>
      <iframe class="item" style="--position: 6" src="https://www.youtube.com/embed/zM49UosNbEs?si=4BkgYRvuBA1kWIWO" alt=""></iframe>
      <iframe class="item" style="--position: 7" src="https://www.youtube.com/embed/k_CxMefC7mA?si=WbnX9hQl93MxA1q-" alt=""></iframe>
      <iframe class="item" style="--position: 8" src="https://www.youtube.com/embed/taL96kuZub4?si=Qdu-8sbsytiAgKb3" alt=""></iframe>
      <iframe class="item" style="--position: 9" src="https://www.youtube.com/embed/QSyFXY1UECw?si=OJb3FvOlZlvDzTP4" alt=""></iframe>
      <iframe class="item" style="--position: 10" src="https://www.youtube.com/embed/lNa6JRnOahY?si=UGtQs7SOaI-FyBUw" alt=""></iframe>
    </div>

    <div class="content">
        <div class="model"></div>
    </div>
    <%- include('../partials/_navbar.ejs') %>
  </div>
</body>
</html>  