<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>YouTube links in to your favorite anime playlist</title>
</head>
<body>
    <a href="/home">Home</a>
  <% include('../partials/_navbar.ejs') %>
  <h1>YouTube links in to your favorite anime playlist! We do Update everyweek !</h1>
  
        <iframe height="480" width="500" src="https://www.youtube.com/embed/CtwQuK5pB3Q?si=zVFBH53TTszfD4q-"></iframe >
        <iframe height="480" width="500" src="https://www.youtube.com/embed/7_-ePcoRgHs?si=rFFbqGbQCcXju0a3"></iframe > 
        <iframe height="480" width="500" src="https://www.youtube.com/embed/QSyFXY1UECw?si=OJb3FvOlZlvDzTP4"></iframe > 
        <iframe height="480" width="500" src="https://www.youtube.com/embed/bo_mkoII-wA?si=DPr1dnneWwKNZ-Lf"></iframe >
        <iframe height="480" width="500" src="https://www.youtube.com/embed/LH-JPYib8T4?si=lYDNXL3w9VW3xlaZ"> </iframe > 
        <iframe height="480" width="500" src="https://www.youtube.com/embed/UyPnhOpngRA?si=QpUc3EBR5D0ZSNsr"></iframe >
        <iframe height="480" width="500" src="https://www.youtube.com/embed/jvZQLf7OIcg?si=h8_OIJVVwupIegYz"></iframe >
        <iframe height="480" width="500" src="https://www.youtube.com/embed/FJNU4Yo_7iE?si=3cwTqocYVs2B49H9"></iframe > 
        <iframe height="480" width="500" src="https://www.youtube.com/embed/4K_FXp8YAMA?si=GoavslHwe-AJGGp3"></iframe > 
        <iframe height="480" width="500" src="https://www.youtube.com/embed/ABI06jhYttM?si=O5gjrNKB9gBudh75"></iframe >
        <iframe height="480" width="500" src="https://www.youtube.com/embed/50leN2_T8lo?si=4KyWlx6SVpOLuoa7"></iframe > 
        <iframe height="480" width="500" src="https://www.youtube.com/embed/JdU0gDDCiB8?si=87tbRrOTiX6B_UdG"></iframe >
        <iframe height="480" width="500" src="https://www.youtube.com/embed/2VY8Sx0guL4?si=x7AyUOPv7g2iO0hc"></iframe >
        <iframe height="480" width="500" src="https://www.youtube.com/embed/XqmjkAqnLUg?si=KNXoyB-FAp2LBDN1"></iframe > 

</body>
</html>