<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/comunityuser.css" />
  <title>Users List - Community</title>
</head>
<body>
<div class="card">
  <img src="https://images.squarespace-cdn.com/content/v1/56e33409d210b8a4c7e973c9/1623936078761-I9NLQ3D9FO1HEFTQBD2L/seerlight-1.jpeg?format=750w" class="card-img" alt="">
  <div class="card-body">
  <% include('../partials/_navbar.ejs') %>
  <h1 class="card-title">Other Usere</h1>
  <ul>
    <% users.list.forEach(user => { %>
      <li>
        <p class="card-info" class="card-sub-title"><%= user.name %></p>
        <p class="card-info" class="card-sub-title">descriptions: <%= user.descriptions %></p> 
      </li>
    <% }); %>
  </ul>
</div>

</body>
</html>